/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: rgb(255, 179, 0);
   --backgr: #210432;
 }

/* Use your variables on elements */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }
